<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projet Architecture 3D</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black">
		<div class="container" style="font-family:'PT Sans'">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Projet Architecture 3D", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					@*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
					@*<li>@Html.ActionLink("About", "About", "Home")</li>*@
					<li>@Html.ActionLink("Mon Espace", "Index", "Projets")</li>
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
			@*<p class="animated-button"> <img src="~/Content/Logo_RGB_header.png" width="500" /></p>*@
		</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
			<p>&copy; @DateTime.Now.Year - Projet Archi 3D</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
