@model SiteArchi3D.Architecte

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Architecte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numéro_Architecte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numéro_Architecte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnes.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnes.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArchitecte }) |
    @Html.ActionLink("Back to List", "Index")
</p>
