@model SiteArchi3D.Projet

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal" style="font-family:'PT Sans'">
	<h4 class="text-center" style="font-family:'PT Sans'">Deuxième étape</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(model => model.Promoteur, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Promoteur, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Promoteur, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Date_début, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Date_début, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Date_début, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Date_fin, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Date_fin, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Date_fin, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Avancement, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Avancement, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Avancement, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Liste_prestataires, "Liste_prestataires", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("Liste_prestataires", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Liste_prestataires, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Liste_prestataires, "Liste_prestataires", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("Liste_prestataires", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.Liste_prestataires, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.xidCommentaires, "xidCommentaires", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownList("xidCommentaires", null, htmlAttributes: new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.xidCommentaires, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Create" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
