@model SiteArchi3D.QuestionnaireProjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionnaireProjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Création_de_Projet.Questionnaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Création_de_Projet.Questionnaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idQuestionnaire }) |
    @Html.ActionLink("Back to List", "Index")
</p>
